body {
    background-color: #FF515F;
}

.center-panel {
    background-color: #ffffff;
    width: 450px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.title{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-style: italic;
    width: 100%;
    text-align: center;
    margin-top: 80px;
}

.download{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-style: italic;
}

.download-space{
    height: 150px;
    padding: 80px;
    text-align: center;
}